.add_header {
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 20px;
}
.header_table {
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 20px;
}
.first_column {
  border-right: 1px solid #56829d;
}
.first_column .footer_table {
  margin-bottom: 30px;
  margin-top: 60px;
}
.add_btn {
  margin-left: 20px;
}
.display_none {
  display: none;
}
.social-mob .fa {
  padding: 8px;
  font-size: 17px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #438425;
}
.menu_list li {
  display: inline;
}
.img_block {
  width: 130px;
  position: relative;
  text-align: center;
}
.img_block .delete_btn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.padding_left p {
  padding-left: 13px;
  line-height: 1.7;
}
.padding_left ul {
  list-style: none;
}
.padding_left ul li {
  margin-bottom: 5px;
  position: relative;
}
.padding_left ul li:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #3b7121;
  position: absolute;
  left: -20px;
  top: 7px;
}
