.add_header {
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 20px;
}
.header_table {
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 20px;
}
.first_column {
  border-right: 1px solid #56829d;

  .footer_table {
    margin-bottom: 30px;
    margin-top: 60px;
  }
}

.add_btn {
  margin-left: 20px;
}
.display_none {
  display: none;
}
.social-mob .fa {
  padding: 8px;
  font-size: 17px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #438425;
}
.menu_list {
  li {
    //list-style-type: none;
    display: inline;
  }
}
.img_block {
  width: 130px;
  position: relative;
  text-align: center;
   .delete_btn {
      position: absolute;
      right: 0;
      top: 0;
      z-index:1;
   }
}
.padding_left {
  p {
    padding-left: 13px;
    line-height: 1.7;
  }
  ul {
      list-style: none;
    li {
      margin-bottom: 5px;
      position: relative;
    }
    li:before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #3b7121;
      position: absolute;
      left: -20px;
      top: 7px;
    }
  }
}
